<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>

<table>
  <thead>
    <tr>
      <th>Steps</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @steps = @list.steps %>
  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.content %></td>
        <td><%= link_to 'Edit', edit_list_step_path(@list, step) %></td>
        <td><%= link_to 'Destroy', list_step_path(@list, step), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

   <div class="field">
    <%= link_to "Add Steps", new_list_step_path(@list)%><br>
  </div>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
